---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="w-full p-4 text-center bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <h5 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">Buscar Hoteles</h5>
        <p class="mb-5 text-base text-gray-500 sm:text-lg dark:text-gray-400">En esta seccion podra ver todos los hoteles registrados, solo debe insertar el NIT, si existe, la informacion se mostrara .</p>
    </div>
    <br>

<form>   
    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">search</label>
    <div class="relative">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg class="w-4 h-4 text-blue-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </div>
        <input type="search" id="default-search" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Porfavor ingrese el NIT del hotel" required>
        <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Buscar</button>
    </div>
</form>
<br>


<h1 class="text-center text-xl font-black mx-8">Resultados de busqueda</h1>
<br>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Hotel
                    </th>
                    <th scope="col" class="px-6 py-3">
                        NIT
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Ciudad
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Direccion
                    </th>
                    <th scope="col" class="px-6 py-3">
                        #Habitaciones
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Hotel X
                    </th>
                    <td class="px-6 py-4">
                        12345
                    </td>
                    <td class="px-6 py-4">
                        Lorica
                    </td>
                    <td class="px-6 py-4">
                        Calle X
                    </td>
                    <td class="px-6 py-4">
                        60
                    </td>
                    
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Hotel Y
                    </th>
                    <td class="px-6 py-4">
                        6789
                    </td>
                    <td class="px-6 py-4">
                        Monteria
                    </td>
                    <td class="px-6 py-4">
                        Calle Z
                    </td>
                    <td class="px-6 py-4">
                        80
                    </td> 
                </tr>
                <tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Hotel Z
                    </th>
                    <td class="px-6 py-4">
                        101112
                    </td>
                    <td class="px-6 py-4">
                        Barranquilla
                    </td>
                    <td class="px-6 py-4">
                        CalleZ
                    </td>
                    <td class="px-6 py-4">
                        100
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</Layout>